body
{
background-color:blue;

}
form{
border:2px solid black;
}
button{
background-color:blue;
box-shadow:3px right;
border:2px solid black;
}
p{
background-color:blue;
color:yellow;
border:2px solid black;
}
