<!doctype html>
<html>
<head>
<title>BLOG</title>
      <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
<form method="POST" action="/add">

<input type="text" name="title" placeholder="title">

<input type="text" name="content" placeholder="content">

<input type="text" name="author" placeholder="author">

<button type="submit"> Create blog </button></br>  </br>


</form method="POST" action="/delete">
<form>
<input type="text" name="id" placeholder="id">
<button type="delete"> Delete blog </button>
</form>
{% for blog in blogs %}
<p>

   ID:{{blog.id}} TITLE:{{blog.title}}&nbsp &nbsp CONTENT:{{blog.content}}&nbsp &nbsp AUTHOR:{{blog.author}}</br>

</p>
{%endfor%}

</body>
</html>
